@model Payu.WebSamples.Models.AsyncNotificationResultModel

@{
    ViewBag.Title = "AsyncNotificationService";
}

<h2>Asenkron Bildirim Servisi</h2>

<pre>
@Model.Response
</pre>                                                        